/*Sets every box on the website to include the designated padding and margin values in every content box's total size*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color of the main body of the webpage*/
body {
    background-color: #d9dcd6;
}

/*Sets the spacing between the words of the header. Sets the font the webpage will display in. Sets the background color of the webpage's header. Sets the color of the font in the header.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Sets the <h1>, span, and nav tags to appear together horizontally on the same line. Sets the font size for these elements.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Sets the "seo" porton of the content in the h1 tag a different color*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Sets padding, margin, float, font, and font size for the links in the nav bar*/ 
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Sets the list items in the nav section to not have item markers in front of them*/
.header nav ul {
    list-style-type: none;
}

/*Prevents a line break from generating. Allows this nav element to sit on the same line as the title element in the header*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Sets the font color and removes the underlining of the text descriptions for the anchors/links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Sets values for the picture in the background of the webpage*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Sets the font size for all paragraph style text for the page <p>*/
p {
    font-size: 16px;
}

/*Sets the width, margin, display of the content class to allow it to sit in-line with other elements on the page, such as the benefits class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Positions pictures with the "float-left" id to be positioned to the left of the text in the element*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Positions pictures with the "float-right" id to be positioned to the right of the text in the element*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Sets margin-bottom, padding, height, font-family, background-color, and font color for the elements of the listed classes*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Sets max height property of listed images to 200 pixels*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img  {
    max-height: 200px;
}

/*Sets bottom margin and font size for the h2 elements of the listed classes*/
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/*Sets the background color of the designated class. Sets the spacing between the lines of text. Sets the margin 20 pixels to the left. Sets max width and height of the class element. Sets the font of the text and makes the text appear below the images in this class.
Sets the benefits class elements to appear to the right of the page horizontally from the elements in the content class.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Sets the margin between the lines of and the color of the text for the elements in the benefits-img class*/
.benefits-img {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Sets the margin of the <h3> elements exclusively. Sets the alignment of the text for the <h3> and <p> tags.*/
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Sets the images in the listed class appear vertically. Sets the margin and max-width of the images in this class*/
.benefits-img img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets the font of the text, alignment, and font of the text. Sets the text to appear horizontally to the UTF-8 character ❤️*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Sets font size for the <h4> element in the footer section*/
.footer h4 {
    font-size: 20px;
}
